.tile-1 .t-icon {
    position: absolute;
    top: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.box-block {
    padding: 0px 10px;
}
.box {
    background: #e28c0e !important;
    position: relative;
    display: block;
    margin-bottom: 0.75rem;

    border: 1px solid rgba(0, 0, 0, 0.125);
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.70);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(0, 0, 0, 0.06) inset;
    transition: all 0.5s ease;
}
.col-lg-3, .col-md-6, .col-xs-12{
    padding-left: 2px;
    padding-right: 2px;
}
.box h1{
    color: #fff;
    margin-top: 10px;

}
.tile-1 .t-icon.right span {
    right: -60px;
}
.tile-1 .t-icon span {
    position: absolute;
    z-index: 8;
    top: -60px;
    width: 120px;
    height: 120px;
    line-height: 120px;
    border-radius: 50%;
}
.tile-1 .t-icon.right {
    right: 0;
    display: none;
}
.tile-1 .t-icon {
    position: absolute;
    top: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.tile-1 .t-icon.right i {
    padding-left: 15px;
    color: rgba(255, 255, 255, 0.9);
}
.tile-1 .t-icon i {
    position: relative;
    z-index: 9;
    font-size: 1.75rem;
    color: #fff;
}
.tile h6 {
    font-weight: normal;
    color: #cecece;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.tile h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.bg-danger {
    background-color: #28ABE3;
}
.tile-1 .t-icon.right i {
    padding-left: 12px;
    color: rgba(255, 255, 255, 0.9);
}
.tile-1 .t-icon i {
    padding-left: 25px;
    color: rgba(255, 255, 255, 0.9);
    margin-top: -5px;
    font-size: 23px;
    font-weight: 500;
}
.deposite,.widgett-shadow{
    border: 1px solid #ececec;
    background:#fff;
    margin-bottom: 20px;
    vertical-align: top;
    transition: transform 0.5s;
    transition-delay: 0.1s;
    transition: all .2s ease-in-out; 
    overflow: hidden;
    border: 5px solid rgba(255, 255, 255, 0.70);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(0, 0, 0, 0.06) inset;
    transition: all 0.5s ease;
    min-height: 314px;
}
.deposite:hover .deposite_time_digit{
    transform: scale(1.1);
}

.deposite_red .deposite_title, .deposite_red .deposite_time_digit, .deposite_red .deposite_time_text,.deposite .deposite_title,.deposite_time_digit,.deposite_time_text {
    color: #eca417;
}

.deposite .deposite_title {
    /*font-family: Open Sans Semibold;*/
    font-size: 18px;
    text-transform: uppercase;
    line-height: 18px;
    display: block;
    text-align: center;
    padding: 10px 0px 10px;
}

.deposite_time_wrap_text {
    color: #949292;
    /*font-family: Open Sans Semibold;*/
    font-size: 16px;
    line-height: 16px;
    display: block;
    margin-bottom: 0px;
}

.deposite_time_digit {
    font-size: 35px;
    line-height: 72px;
    /*font-family: Open Sans Semibold;*/
}

.deposite_time_triangle {
    width: 0px;
    height: 0px;
    border-top: 40px solid #f9f9f9;
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
}
.deposite .packet-invoide,.deposite  .packet-invest{
    margin-top: 10px;
}
.deposite_info {
    color: #949292;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    padding: 0px 20px 10px;
    text-align: center;

}
.ribbon-design {
    color: #ffffff;
    font: bold 12px sans-serif;
    left: -5px;
    letter-spacing: 0.35px;
    padding: 7px 0;
    position: relative;
    text-align: center;
    top: 15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 120px;
}

.deposite .deposite_title{
    font-weight: 600;   
}

.account-pd form{
    margin-top: 15px;
}

.plan-col:hover, .deposite:hover {
    background-color: #263238;
    z-index: 2;
    box-shadow: 0px 0px 32px #b7e2ec;
    box-shadow:  0px 1px 5px 0px #E2BA6B;
    position: relative;
}
.plan-col:hover, .deposite:hover .ribbon-wrapper{
    top: 0px;
}
.deposite:hover .ribbon-wrapper{
    right: 0px;
}
.ribbon-wrapper {
    height: 88px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 5px;
    width: 85px;
}

.red, .status.offline > i, .mail-list > li > .title > span > .offline, .toggle-switch span:before, .actionBar > a.buttonDisabled, .friend-list li > span.offline:before, .error-page ul > li:before, .full-report > ul li:hover > span {
    background: #ff604f;
    color: #fff;
}
.ajs-header{
    text-align: center;
    background-color: #263238 !important;
    padding:0px !important;
}

.ajs-btn{
    width: 109px;
    float: right;
}

.alertify .ajs-dialog{
    max-width: 768px !important;
}

.alertify .ajs-commands {
    position: absolute;
    right: 4px;
    margin: 13px 24px 0 0;
    z-index: 2;
}
.alertify .ajs-footer{
    display: none;
}

.alertify .ajs-header{
    margin: 0px !important;
}

.alertify .ajs-body {
    min-height: 56px;
    width: 100%;
    float: left;
    background: #fff;
}

.alertify .ajs-dialog{
    background:none !important;
}


.alertify .ajs-commands {
    position: absolute;
    right: 4px;
    margin: -2px 24px 0 0 !important;
    z-index: 2;
}

.alertify .ajs-dialog{
    padding: 0px !important;
}

.alertify .ajs-footer {
    padding: 4px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    min-height: 43px;
    background-color: #fff;
    width: 100%;
    float: left;
    display: block !important; 
    padding: 15px !important;
    padding-bottom: 0px !important;
}

.alertify .ajs-commands{
    display: none;
}

.account-setting-password_login .panel{
    border:0px;
}

.ajs-cancel{
    margin-right: 10px;
}

.animated-btn{
    margin-top: 10px;
}
.card-action{
    font-size: 30px;
    font-weight: bold;
}
.bg-info.active{
    background: #e53935 !important;
}
.btn.btn-default{
    color: #76838f !important;
}
.ajs-btn.ajs-cancel,.ajs-btn.ajs-ok{
    color: #fff !important;
}
.bg-white.widget.widgett-shadow:hover .widgets-top-padding{
    background: #263238;
}
.bg-white.widget.widgett-shadow:hover .bg-info{
    background: #e53935 !important;
}
.bg-white.widget.widgett-shadow:hover .btn.btn-default{
    background: #e67e22;
    color: #fff !important;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0 ease;
    transition: all 0s ease;
}
.tree,
.tree li ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}
.tree li,
.tree-node,
.tree-title {
    white-space: nowrap
}
.btn-tree,
.btn-tree span,
.tree-dnd-icon,
.tree-title {
    display: inline-block
}
.tree-hit,
.tree-node {
    cursor: pointer
}
.tree-node {
    height: 18px
}
.tree-checkbox,
.tree-collapsed,
.tree-expanded,
.tree-file,
.tree-folder,
.tree-indent {
    display: inline-block;
    width: 16px;
    height: 18px;
    vertical-align: top;
    overflow: hidden
}
.tree-expanded {
    background: url(images/tree_icons.png) -18px 0 no-repeat
}
.tree-expanded-hover {
    background: url(images/tree_icons.png) -50px 0 no-repeat
}
.tree-collapsed {
    background: url(images/tree_icons.png) no-repeat
}
.tree-collapsed-hover {
    background: url(images/tree_icons.png) -32px 0 no-repeat
}
.tree-lines .tree-expanded,
.tree-lines .tree-root-first .tree-expanded {
    background: url(images/tree_icons.png) -144px 0 no-repeat
}
.tree-lines .tree-collapsed,
.tree-lines .tree-root-first .tree-collapsed {
    background: url(images/tree_icons.png) -128px 0 no-repeat
}
.tree-lines .tree-node-last .tree-expanded,
.tree-lines .tree-root-one .tree-expanded {
    background: url(images/tree_icons.png) -80px 0 no-repeat
}
.tree-lines .tree-node-last .tree-collapsed,
.tree-lines .tree-root-one .tree-collapsed {
    background: url(images/tree_icons.png) -64px 0 no-repeat
}
.tree-line {
    background: url(images/tree_icons.png) -176px 0 no-repeat
}
.tree-join {
    background: url(images/tree_icons.png) -192px 0 no-repeat
}
.tree-joinbottom {
    background: url(images/tree_icons.png) -160px 0 no-repeat
}
.tree-folder {
    background: url(images/tree_icons.png) -208px 0 no-repeat
}
.tree-folder-open {
    background: url(images/tree_icons.png) -224px 0 no-repeat
}
.tree-file {
    background: url(images/tree_icons.png) -240px 0 no-repeat
}
.tree-loading {
    background: url(images/loading.gif) center center no-repeat
}
.tree-checkbox0 {
    background: url(images/tree_icons.png) -208px -18px no-repeat
}
.tree-checkbox1 {
    background: url(images/tree_icons.png) -224px -18px no-repeat
}
.tree-checkbox2 {
    background: url(images/tree_icons.png) -240px -18px no-repeat
}
.tree-title {
    font-size: 18px;
    text-decoration: none;
    vertical-align: top;
    padding: 0 2px;
    height: 18px;
    line-height: 20px
}
.tree-node-proxy {
    font-size: 12px;
    line-height: 20px;
    padding: 0 2px 0 20px;
    border-width: 1px;
    border-style: solid;
    z-index: 9900000
}
.tree-dnd-icon {
    position: absolute;
    width: 16px;
    height: 18px;
    left: 2px;
    top: 50%;
    margin-top: -9px
}
.tree-dnd-yes {
    background: url(images/tree_icons.png) -256px 0 no-repeat
}
.tree-dnd-no {
    background: url(images/tree_icons.png) -256px -18px no-repeat
}
.tree-node-top {
    border-top: 1px dotted red
}
.tree-node-bottom {
    border-bottom: 1px dotted red
}
.tree-node-append .tree-title {
    border: 1px dotted red
}
.tree-editor {
    border: 1px solid #ccc;
    font-size: 12px;
    height: 14px!important;
    height: 18px;
    line-height: 14px;
    padding: 1px 2px;
    width: 80px;
    position: absolute;
    top: 0
}
.tree-node-proxy {
    background-color: #fff;
    color: #000;
    border-color: #95B8E7
}
.tree-node-hover {
    color: #000
}
.tree-node-selected {
    background: #fff;
    color: #000
}
.left_node,
.right_node {
    position: absolute
}
.undefined_node {
    left: 50%;
    position: absolute
}
.leftline.linefloor2 {
    background: url(images/left1.png) no-repeat;
    height: 37px;
    position: absolute;
    width: 210px;
    left: -210px;
    top: 7px
}
.rightline.linefloor2 {
    background: url(images/right1.png) no-repeat;
    height: 37px;
    position: absolute;
    width: 223px;
    right: -221px;
    top: 7px
}
.leftline.linefloor3 {
    background: url(images/left2.png) no-repeat;
    height: 35px;
    left: -81px;
    position: absolute;
    top: 11px;
    width: 80px
}
.rightline.linefloor3 {
    background: url(images/right2.png) no-repeat;
    height: 35px;
    position: absolute;
    width: 85px;
    right: -85px;
    top: 10px
}
.leftline.linefloor4 {
    background: url(images/left3.png) no-repeat;
    height: 36px;
    left: -40px;
    position: absolute;
    top: 9px;
    width: 37px
}
.rightline.linefloor4 {
    background: url(images/right3.png) no-repeat;
    height: 36px;
    position: absolute;
    width: 37px;
    right: -36px;
    top: 7px
}
.leftline.linefloor5,
.leftline.linefloor6,
.rightline.linefloor5,
.rightline.linefloor6 {
    height: 35px;
    position: absolute
}
.leftline.linefloor5 {
    background: url(images/left4.png) no-repeat;
    width: 20px;
    left: -11px;
    top: 11px
}
.rightline.linefloor5 {
    background: url(images/right4.png) no-repeat;
    width: 20px;
    right: -11px;
    top: 10px
}
.leftline.linefloor6 {
    background: url(images/left5.png) no-repeat;
    width: 15px;
    left: -8px;
    top: 24px
}
.rightline.linefloor6 {
    background: url(images/right5.png) no-repeat;
    width: 12px;
    right: -6px;
    top: 24px
}
.left_node.nodefloor2 {
    left: -218px;
    top: 62px
}
.right_node.nodefloor2 {
    right: -225px;
    top: 62px
}
.left_node.nodefloor3 {
    left: -90px;
    top: 60px
}
.right_node.nodefloor3 {
    right: -100px;
    top: 60px
}
.left_node.nodefloor4 {
    left: -50px;
    top: 60px
}
.right_node.nodefloor4 {
    right: -50px;
    top: 60px
}
.left_node.nodefloor5 {
    left: -19px;
    top: 60px
}
.right_node.nodefloor5 {
    right: -28px;
    top: 60px
}
.left_node.nodefloor6 {
    left: -14px;
    top: 60px
}
.right_node.nodefloor6 {
    right: -16px;
    top: 60px
}
.personal-tree {
    width: 100%;
    height: 300px;
    margin-top: 60px
}
.personal_contain {
    padding: 0 35px 35px
}
.personal-tree a {
    font-size: 45px
}
.level2 {
    background: url(icons/B2.png) center center no-repeat!important
}
.personal-tree .type-1 {
    background: url(icons/2.png) center center no-repeat;
    background-size: 30px;
    color: transparent!important;
    position: relative;
    top: -30px;
    left: 0px;
}
.personal-tree .type-2,
.personal-tree .type-add {
    color: transparent!important;
    top: -28px;
    position: relative
}
.personal-tree .type-2 {
    background: url(icons/6.png) center center no-repeat;
    background-size: 30px
}
.personal-tree .type-add {
    background: url(icons/3.png) center center no-repeat;
    background-size: 45px
}
.personal-tree .package-0,.personal-tree .package-undefined{
    background: url('icons/packe0.png') center center no-repeat;
    background-size: 35px
}
.personal-tree .package-1{
     background: url('icons/packe1.png') center center no-repeat;
    background-size: 35px
}
.personal-tree .package-2{
     background: url('icons/packe2.png') center center no-repeat;
    background-size: 35px
}
.personal-tree .package-3{
     background: url('icons/packe3.png') center center no-repeat;
    background-size: 35px
}
.personal-tree .package-4{
     background: url('icons/packe4.png') center center no-repeat;
    background-size: 35px
}
.personal-tree .package-5{
     background: url('icons/packe5.png') center center no-repeat;
    background-size: 35px
}
.personal-tree .package-6{
     background: url('icons/packe6.png') center center no-repeat;
    background-size: 35px
}
span.btn.btn-default.btn-tree {
    border-radius: 40px
}
.account-personal .tab-content {
    padding-top: 0!important
}
.btn-tree {
    margin: 0 auto
}
.btn-tree span {
    background-color: #0b0e19;
    padding: 5px 15px;
    color: #3A474D;
    text-transform: uppercase;
    /*font-family: TradeGothicLTStd-BdCn20, 'PT Sans Narrow';*/
    font-weight: 200 !important;
    font-size: 14px;
    text-shadow: 0 1px #fff, 0 -1px #262F33
}
.btn-tree span:hover {
    color: #000;
    /*text-shadow: 0 -1px #ffe70c;*/
    cursor: pointer
}
.btn-tree:active span {
    -webkit-transform: translate(0, 5px)
}
.icon-blank {
    background: url(icons/blank.gif) center center no-repeat
}
.icon-add {
    background: url(icons/edit_add.png) center center no-repeat
}
.icon-edit {
    background: url(icons/pencil.png) center center no-repeat
}
.icon-remove {
    background: url(icons/edit_remove.png) center center no-repeat
}
.icon-save {
    background: url(icons/filesave.png) center center no-repeat
}
.icon-cut {
    background: url(icons/cut.png) center center no-repeat
}
.icon-ok {
    background: url(icons/ok.png) center center no-repeat
}
.icon-no {
    background: url(icons/no.png) center center no-repeat
}
.icon-cancel {
    background: url(icons/cancel.png) center center no-repeat
}
.icon-reload {
    background: url(icons/reload.png) center center no-repeat
}
.icon-search {
    background: url(icons/search.png) center center no-repeat
}
.icon-print {
    background: url(icons/print.png) center center no-repeat
}
.icon-help {
    background: url(icons/help.png) center center no-repeat
}
.icon-undo {
    background: url(icons/undo.png) center center no-repeat
}
.icon-redo {
    background: url(icons/redo.png) center center no-repeat
}
.icon-back {
    background: url(icons/back.png) center center no-repeat
}
.icon-sum {
    background: url(icons/sum.png) center center no-repeat
}
.icon-tip {
    background: url(icons/tip.png) center center no-repeat
}
.icon-mini-add {
    background: url(icons/mini_add.png) center center no-repeat
}
.icon-mini-edit {
    background: url(icons/mini_edit.png) center center no-repeat
}
.icon-mini-refresh {
    background: url(icons/mini_refresh.png) center center no-repeat
}
.tree-icon {
    width: 25px
}
.level0 {
    background: url(icons/Bitbank-12.png) center center no-repeat
}
.level1 {
    background: url(icons/B6.png) center center no-repeat
}
.level2 {
    background: url(icons/level3.jpg) center center no-repeat
}
.level3 {
    background: url(icons/level4.jpg) center center no-repeat
}
.level4 {
    background: url(icons/level5.jpg) center center no-repeat
}
.level5 {
    background: url(icons/level6.jpg) center center no-repeat
}
.level1.left {
    background: url(icons/level1L.png) center center no-repeat
}
.level2.left {
    background: url(icons/level2L.png) center center no-repeat
}
.level3.left {
    background: url(icons/level3L.png) center center no-repeat
}
.level4.left {
    background: url(icons/level4L.png) center center no-repeat
}
.level5.left {
    background: url(icons/level5L.png) center center no-repeat
}
.level6.left {
    background: url(icons/level6L.png) center center no-repeat
}
.level1.right {
    background: url(icons/level1R.png) center center no-repeat
}
.level2.right {
    background: url(icons/level2R.png) center center no-repeat
}
.level3.right {
    background: url(icons/level3R.png) center center no-repeat
}
.level4.right {
    background: url(icons/level4R.png) center center no-repeat
}
.level5.right {
    background: url(icons/level5R.png) center center no-repeat
}
.level6.right {
    background: url(icons/level6R.png) center center no-repeat
}
.ajs-btn.ajs-cancel,.ajs-btn.ajs-ok{
    position: relative;
    display: block !important;
    margin: 0 auto 20px;
    padding: 8px 15px !important;
    color: white !important;
    font-size: 13px;
    border-radius: 0;
    background: #e67e22;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 1;
    margin-right: 10px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

@media only screen and (max-width: 990px) {
    #mobile,
    #no-more-tables table,
    #no-more-tables tbody,
    #no-more-tables td,
    #no-more-tables th,
    #no-more-tables thead,
    #no-more-tables tr {
        display: block
    }
    #destop {
        display: none
    }
    .panel.panel-default {
        border: 0
    }
    #no-more-tables tr {
        margin-bottom: 15px;
        border: 1px solid #ccc
    }
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px
    }
    #no-more-tables td {
        / Behave like a "row" / border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
        word-break: break-word;
    }
    #no-more-tables td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: normal;
        text-align: left;
        font-weight: 700;
        content: attr(data-title)
    }
}
.md-circle:before{
    display: none;
}
.input-group{
    width: 100%;    
}
.card-action form{
    margin-top: 15px;
    float: left;
    width: 100%;
}
.navbar-brand-logo.navbar-brand-logo-normal{
    height: 50px !important;
    margin-left: 15px;
    margin-top: 5px;
}
.site-menu-left .navbar-brand,.site-menu-left.left-menu-icon:not(.site-menu-top) .main-header .navbar-brand{
    padding: 0px !important;
}
.ajs-header img{
    margin: 20px auto;
}
.site-menu-left .left-side-menu {
    margin-top: 22px;
}
@media (max-width: 767px){
    .site-menu-left .left-side-menu {
         margin-top: 0px; 
    }
}

.bg-blue{
    background: #105d5d !important;
}
.bg-red{
    background: #e2330b !important;
}
h6.mb-1 {
    color: #fff !important;
    font-size: 16px;
}
.bg-yl{
    background: #e6aa3d !important;
}
.bg-bl{
        background: #08b9b9 !important;
}
.bg-bls{
    background: #0880b9 !important;
}
.bg-gr{
    background: #20c162 !important;
}
.bg-grs{
        background: #8BC34A !important;
}